:root {
    --background: #f2e1f9;
    --primary: #5c5c5c;
    --foreground: #7950F2;;
    --secondary-light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--primary);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header {
    text-align: center;
}

header img {
    position: relative;
    width: auto;
    height: 9rem;
}

header p {
    color: var(--primary);
    font-size: 2rem;
    margin-top: 2rem;
}

main{
    width: 90%;
}


main section {
    display: flex;
    font-weight: bold;
    background-color: var(--foreground);
    margin: 2rem auto;
    padding: 1rem;
    max-width: 80rem;
    max-height: 5rem;
}

main section span {
    display: block;
    margin-right: 1rem;
    color: var(--secondary-light);
    font-size: 5rem;
}

main section input {
    flex: 1;
    min-width: 0;
    background: transparent;
    color: var(--secondary-light);
    font-size: 5rem;
    font-weight: bold;
    border: 0;
    outline: none;
    text-align: right;
}

footer {
    text-align: center;
    font-size: 1.4rem;
    color: var(--primary);
}